langchain==0.0.166
pygpt4all==1.1.0
qdrant-client==1.1.7 
llama-cpp-python==0.1.49
pdfminer.six==20221105
python-dotenv==1.0.0
streamlit==1.22.0 
streamlit-chat==0.0.2.2 
streamlit-extras==0.2.7 
pandoc==2.3
unstructured==0.6.6
protobuf==3.20.3